<h1>{{title}}</h1>
{{# foo }}
  {{#if bar}}
    <p>{{backend_content}}</p>
  {{/if}}
{{/ foo }}
{{^ foo }}
  {{#if bar}}
    <p>{{backend_content}}</p>
  {{/if}}
{{/ foo }}
{{#bar}}
  {{#if bar}}
    <p>{{backend_content}}</p>
  {{/if}}
{{/bar}}
{{^bar}}
  {{#if bar}}
    <p>{{backend_content}}</p>
  {{/if}}
{{/bar}}
<footer>{{{footer}}}</footer>
